{% extends "layouts/base.html" %}

{% block title %} COAST PROJECT {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
{% endblock stylesheets %}

{% block content %}

<h1>
    HOME
</h1>
<hr>
<img src="/static/assets/images/user/coast.png" alt="Picture of a Ha Long Bay sunset">
<hr>
To be written. 




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
