{% extends "layouts/base.html" %}

{% block title %} COAST PROJECT {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap" rel="stylesheet"> 
{% endblock stylesheets %}

{% block content %}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Index</a></li>
</ul>
<hr>
<br>
<br>
<div>
        <p class="index-title"> Unina Remote Sensing </p>
    <p stile="sottotitolo">
        The Unina Remote Sensing Group (URSG), based at University Federico II in Naples, Italy, is part of a national and international network of scientists that undertake quantitative research in the field of Earth observations from space.
        The group's research studies focus on the processing and analysis of active and passive remotely sensed data and relevant scientific studies for improving maritime domain awareness.
    </p>
</div>

<h4 style="text-align: center; color: #888;">
    Our Latest Projects:
</h4>


<div class="row">

    <div class="column">
        <img src="/static/assets/images/user/coast.png" style="width: 230px; " alt="Logo Coast" > 
        <hr> 
        <p style="font-style: italic; font-weight: bold; font-size: larger;"> Coast Project </p> 
        COastal Area monitoring with SAR data and multimission/multifrequency Techniques 
    </div>
    
    <div class="column">
        <img src="/static/assets/images/user/argo.png" style="width: 100px;" alt="Logo Argo" >
        <hr> 
        <p style="font-style: italic; font-weight: bold; font-size: larger;"> Argo Project </p> 
        A wake Revelation system for GO-fast vessels
    </div>

</div>
<hr>

<h4 class="latest-article">
    Latest Articles:
</h4>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
