{% extends "layouts/base.html" %}

{% block title %} Adriatico {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
{% endblock stylesheets %}

{% block content %}

<div class="col-sm-12">
    <h5 class="mt-4">Scenario 1: Adriatico</h5>
    <hr>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">CSK-SAO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">CSK-SEN</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            
            <div class="card-block table-border-style">
                <div class="table-responsive">
                     <table class="table table-hover" id="adriatico1">
                          <thead>
                          <tr>
                               <th>#</th>
                               <th>COSMO-SKYMED</th>
                               <th>SAOCOM</th>
                               <th>MATCH</th>
                               <th>LINK</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for i in a1['idx'] %}
                               <tr>
                                    <th scope="row">{{ i }}</th>
                                    <td>{{a1['CSK'][i]}}</td>
                                    <td>{{a1['SAO'][i]}}</td>
                                    <td>{{a1['links'][i].split('_')[-1].split('.')[0]}}</td>
                                    <td><a href="./CSK-SAO/{{ a1['links'][i] }}">URL</a></td>
                               </tr>
                          {% endfor %}
                          </tbody>
                     </table>
                </div>
            </div>
            
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="table-responsive">
                <table class="table table-hover" id="adriatico2">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>COSMO-SKYMED</th>
                            <th>SENTINEL</th>
                            <th>MATCH</th>
                            <th>LINK</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in a2['idx'] %}
                            <tr>
                                <th scope="row">{{ i }}</th>
                                <td>{{a2['CSK'][i]}}</td>
                                <td>{{a2['SEN'][i]}}</td>
                                <td>{{a2['links'][i].split('_')[-1].split('.')[0]}}</td>
                                <td><a href="./CSK-SEN/{{ a2['links'][i] }}">URL</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {
      $('#adriatico1').DataTable({  });
    });
</script>

<script>
    $(document).ready(function () {
      $('#adriatico2').DataTable({  });
    });
</script>

{% endblock javascripts %}
