{% extends "layouts/base.html" %}

{% block title %} COAST PROJECT {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
{% endblock stylesheets %}

{% block content %}
 


 <!-- [ Hover-table ] start -->
 <div class="card-header">
    <h5>Adriatico CSK-SAO</h5>
    <span class="d-block m-t-5">Lista prodotti Cosmo & SAOCOM </span>
</div>
<div class="card-block table-border-style">
    <div class="table-responsive">
         <table class="table table-hover">
              <thead>
              <tr>
                   <th>#</th>
                   <th>COSMO-SKYMED</th>
                   <th>SAOCOM</th>
                   <th>MATCH</th>
                   <th>LINK</th>
              </tr>
              </thead>
              <tbody>
              {% for i in a1['idx'] %}
                   <tr>
                        <th scope="row">{{ i }}</th>
                        <td>{{a1['CSK'][i]}}</td>
                        <td>{{a1['SAO'][i]}}</td>
                        <td>{{a1['links'][i].split('_')[-1].split('.')[0]}}</td>
                        <td><a href="./CSK-SAO/{{ a1['links'][i] }}">URL</a></td>
                   </tr>
              {% endfor %}
              </tbody>
         </table>
    </div>
</div>
<!-- [ Hover-table ] end --> 


<!-- [ Hover-table ] start -->
<div class="card-header">
<h5>Adriatico CSK-SENTINEL</h5>
<span class="d-block m-t-5">Lista prodotti Cosmo & Sentinel </span>
</div>
<div class="card-block table-border-style">
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>COSMO-SKYMED</th>
                <th>SENTINEL</th>
                <th>MATCH</th>
                <th>LINK</th>
            </tr>
        </thead>
        <tbody>
            {% for i in a2['idx'] %}
                <tr>
                    <th scope="row">{{ i }}</th>
                    <td>{{a2['CSK'][i]}}</td>
                    <td>{{a2['SEN'][i]}}</td>
                    <td>{{a2['links'][i].split('_')[-1].split('.')[0]}}</td>
                    <td><a href="./CSK-SEN/{{ a2['links'][i] }}">URL</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
<!-- [ Hover-table ] end --> 


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script> -->
    <!-- <script src="https://maps.google.com/maps/api/js?sensor=true"></script> -->
    <!-- <script src="/static/assets/plugins/google-maps/js/gmaps.js"></script> -->
    <!-- <script src="/static/assets/js/pages/google-maps.js"></script> -->
    <!-- <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script> -->

{% endblock javascripts %}
